  {% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Modifier l'Étudiant{% else %}Ajouter un Étudiant{% endif %}
{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Modifier l'Étudiant{% else %}Inscrivez-vous{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
{% endblock %}